{
    "root": true,
    "env": {
        "es6",
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "quotes": [2, "single"],
        "strict": [2, "never"]
    },
    "plugins": [
        "react"
    ]
}
